#messageBox {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    width: 100%; 
    text-align: center;
}
#botaoLogin {
    width: 200px; 
    height: 60px;
    font-size: 18px; 
}

#searchField{
    width: 100%;
    margin-right: 5px;
}

.btn-delete {
    background-color: #a32f2f !important; /* Change the background color */
    border-color: #000000 !important;   /* Change the border color */
    color: #ffffff !important;         /* Adjust the text color if needed */
    color: black !important;
}

.btn-delete:hover {
    background-color: #680606 !important; /* Slightly darker shade for hover effect */
    border-color: #000000 !important;
}

.btn-delete2 {
    background-color: #a32f2f !important; /* Change the background color */
    border-color: #000000 !important;   /* Change the border color */
    color: #ffffff !important;         /* Adjust the text color if needed */
    color: black !important;
}

.btn-delete2:hover {
    background-color: #680606 !important; /* Slightly darker shade for hover effect */
    border-color: #000000 !important;
}