#messageBox {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    width: 100%; 
    text-align: center;
}
#botaoLogin {
    width: 200px; 
    height: 60px;
    font-size: 18px; 
}

#searchField{
    width: 100%;
    margin-right: 5px;
}

.btn-delete {
    background-color: #e22525 !important; 
    color: #ffffff !important;
    color: black !important;
}

.btn-delete:hover {
    background-color: #ce2323 !important;
    border-color: #000000 !important;
}

.btn-delete2 {
    background-color: #e22525 !important; 
    color: #ffffff !important;         
    color: black !important;
}

.btn-delete2:hover {
    background-color: #ce2323 !important; 
    border-color: #000000 !important;
}